
.body_img {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-photo%2Fshopping-cart-trolley-mock-up-blue-background-3d-rendering_17706953.htm&psig=AOvVaw01CbKWDnLv5SCrWtqHyyKN&ust=1695806263537000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMjWneL4x4EDFQAAAAAdAAAAABAY');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
}